.frame-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .frame1,
  .frame2 {
    display: flex;
    border: none;
    overflow: hidden;
  }
  .frame2 {
    flex-grow: 6;
  }