body {
    font-family: "Dosis", sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0; /* Added to remove default margin */
  }
  
  .background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #menu {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    list-style: none;
    font-size: 200%;
    z-index: 1; /* Bring menu items and buttons in front of canvas */
  }
  
  .menu-button {
    opacity: 1;
    z-index: 2; /* Bring menu buttons in front of canvas */
  }
  
  .menu-button {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -99px;
    border-radius: 50%;
    background: url('lp.png');
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: z-index 0.5s; /* Added transition for smooth z-index change */
  }
  
  .menu-button.hide {
    z-index: -1; /* Hide menu button behind menu items after click */
  }
  
  #menu:not(:target)>a:first-of-type,
  #menu:target>a:last-of-type {
    opacity: 1;
    z-index: 2; /* Bring menu buttons in front of canvas */
  }
  
  #menu:not(:target)>.icon-plus:before,
  #menu:target>.icon-minus:before {
    opacity: 1;
  }
  
  .menuitem {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 55%;
    line-height: 5px;
    top: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background-color: aqua;
    transform: translate(0px, 0px);
    transition: transform 500ms;
    z-index: 1; /* Bring menu items in front of canvas */
    transition: .6s;
  }
  
  .menuitem:hover {
    opacity: 0.5;
    box-shadow: 0 5px 10px aqua;
  }
  
  .menuitem a {
    color: blue;
    position: relative;
    text-align: center;
    top: 52%;
    left: 15px;
    text-decoration: none;
    z-index: 2;
  }
  @font-face {
    font-family: 'BillyOhio';
    src: url('BillyOhio-85lM.ttf') format('truetype');
  }
  @font-face {
    font-family: 'con';
    src: url('SnowBlue-OVVwd.otf') format('opentype');
  }
  
  font{
    font-family: BillyOhio, sans-serif  
  }
  .menuitem a:hover{
    text-decoration: none;
  }
  
  #menu:target>.menuitem:nth-child(6) {
    transform: rotate(45deg) translateY(-150px) rotate(315deg);
    transition-delay: 0.1s;
  }
  
  #menu:target>.menuitem:nth-child(5) {
    transform: rotate(0deg) translateY(-155px) rotate(0deg);
    transition-delay: 0.2s;
  }
  
  #menu:target>.menuitem:nth-child(3) {
    transform: rotate(-45deg) translateY(-155px) rotate(45deg);
    transition-delay: 0.3s;
  }
  
  #menu:target>.menuitem:nth-child(4) {
    transform: rotate(-90deg) translateY(-150px) rotate(90deg);
    transition-delay: 0.4s;
  }
  
  #menu:target>.menuitem:nth-child(7) {
    transform: rotate(90deg) translateY(-150px) rotate(270deg);
    transition-delay: 0s;
  }
  
  .content {
    position: absolute;
    text-align: center;
    margin: -10px 0 0 -30px;
    top: 70%;
    left: 39%;
    font-size: 1.5rem;
    color: blue;
  }
  h1 {
    font-size: 1.5rem;
    font-family: con,sans-serif;
  }