.logo{
    display: flex;
    position: fixed;
    left: 4px;
    top: 2px;
    bottom: 30px;
    width: 145px;
    height: 145px;
    border-radius: 75px;
    border: rgb(0, 48, 206) 10px;
    overflow: hidden;
}

.background {
  
	position
	:
	 absolute
	;
	  
	display
	:
	 block
	;
	  
	top
	: 0;
	  
	left
	: 0;
	  
	z-index
	: 0;
	}
.options{
    display: flex;
    width: 80px;
    height: 70px;
    margin-left: 1556px;
    flex-wrap: nowrap;
}
.links{
    display: flex;
    width: 320px;
    height:20px;
    padding: 1%;
    margin-left: 1568px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
}
body {
    background: linear-gradient(to top, aqua 20%, rgb(255, 255, 255) 80%);
    height: 80vh;
}
