body
{
  background:white ;
}
.background {
  
  position
  :
   absolute
  ;
    
  display
  :
   block
  ;
    
  top
  : 0;
    
  left
  : 0;
    
  z-index
  : -1;
  }
button{
  margin-left:30px;
  border:none;
  border-radius:8px;
  size:100px;
  margin-top:100px;
  height:30px;
  width:100px;
  background-color:azure;
}
button[name='clicker']{
  right: 50%;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0px -1px 10px white;
}
video{
  margin-top:150px;
  box-shadow:0px 4px 30px #05C3DD;
}
.one{
  z-index: 1;
}
.two{
  z-index: 0;
}
.container{
  z-index: 1;
}