.background {
  
  position
  :
   absolute
  ;
    
  display
  :
   block
  ;
    
  top
  : 0;
    
  left
  : 0;
    
  z-index
  : -1;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #quiz-options {
    text-align: center;
  }
  
  .option-btn {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    background-color: #61abfb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .option-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }